
<ul style="list-style-type:none">
  <li><img src="https://firebasestorage.googleapis.com/v0/b/instagram-but-in-bad.appspot.com/o/639sTgNU_400x400.jpg?alt=media&token=2535914d-e21d-4d6a-b2c5-67c6d7b883d6"></li>
  <li><img src="https://firebasestorage.googleapis.com/v0/b/instagram-but-in-bad.appspot.com/o/639sTgNU_400x400.jpg?alt=media&token=2535914d-e21d-4d6a-b2c5-67c6d7b883d6"></li>
  <li><img src="https://firebasestorage.googleapis.com/v0/b/instagram-but-in-bad.appspot.com/o/639sTgNU_400x400.jpg?alt=media&token=2535914d-e21d-4d6a-b2c5-67c6d7b883d6"></li>
</ul>
<button type="submit" class="btn btn-primary" (click)="userService.SignOut()">Sign out</button>
