<h1 class="mt-5">{{users.email}}</h1>
<body>
    <ul style="list-style-type:none">
      <!-- PicArray ASYNC durchgehen weil observable -->
      <li *ngFor="let pic of posts | async; let i = index">
        <div>{{pic.id}}</div>
        <img [src]="pic.picture.URL" (click)="showDetails(pic)">
        <button type="submit" class="btn btn-success" (click)="likesUp(pic)"> Like </button>
        <button type="submit" class="btn btn-danger" (click)="likesDown(pic)"> Dislike </button>
        <div> <b> Likes: {{pic.picture.likes}} </b> </div>
        <!-- <p>Uploaded: {{pic.date | date:'short':'+0100' }}</p> -->
        <!-- https://www.angularjswiki.com/angular/angular-date-pipe-formatting-date-times-in-angular-with-examples/ -->
      </li>
      </ul>
  <button type="submit" class="btn btn-primary" (click)="signOut()">Sign out</button>
</body>
