<form>
  <div id="uploadzone" class="file-upload-wrapper">
    <input type="file" id="input-file-now" class="file-upload" />
  </div>
  <div class="form-group">
    <label>Beschreibung</label>
    <input type="text" class="form-control" id="pictureText" placeholder="Schreiben sie was zu ihren Bild">
  </div>
  <div class="form-group">
    <label>Tags</label>
    <input type="text" class="form-control" id="pictureTags" placeholder="Tags für ihr Bild ?">

  </div>
  <div>
    <button type="button" class="btn btn-secondary">Hochladen</button>
  </div>
</form>

