<img [src]="activePicture.URL">

<p>Pic ID: {{activePicture.id}}</p>
<p>Likes: {{activePicture.likes}}</p>

<input type="comment" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
  placeholder="Enter comment" [(ngModel)]="picComment" [ngModelOptions]="{standalone: true}">
<button (click)="manageComment(pic)" class="btn btn-outline-success" style="margin-left:5px;">comment</button>

<table class="table table-responsive table-hover">
  <thead>
    <th>Benutzer</th>
    <th>Kommentar</th>
    <th>Datum</th>
  </thead>
  <tbody>
    <tr *ngFor="let c of comments | async; let i = index;">
      <td>{{ c[i].author }}</td>
      <td>{{ c[i].text }}</td>
    </tr>
  </tbody>
</table>
