<body style="text-align: center">
<div>
    <h5 (click)="getUserOfPost(activePost)" style="cursor: pointer">{{activePost.owner}}</h5>
    <img [src]="activePost.picture.URL">

<h5>Likes: {{activePost.picture.likes}}</h5>
  </div>

<table class="table table-responsive table-hover">
  <thead>
    <th>Benutzer</th>
    <th>Kommentar</th>
  </thead>
  <tbody>
    <tr *ngFor="let c of activePost.comments">
      <td>{{ c.author }}</td>
      <td>{{ c.text }}</td>
    </tr>
  </tbody>
  <tfoot>
  <input type="text" class="form-control" id="comment" style="width: 60%; display: inline-block"
         placeholder="Enter comment" [(ngModel)]="picComment" [ngModelOptions]="{standalone: true}">
    <button (click)="manageComment()" class="btn btn-outline-success" style="display: inline-block;">comment</button>
  </tfoot>
</table>
</body>
